---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero id='inicio'
  
    image={{ src: '~/assets/images/docus.jpeg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Proyecto: Gestor de programas de asignaturas
      
    </Fragment>

    <Fragment slot="subtitle">
      Nuestro software estará diseñado para ayudar a los docentes a gestionar de manera eficiente los programas de asignaturas, facilitando la planificación y el seguimiento del progreso académico.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

   <!-- Content Widget **************** -->

  <!-- Descripcion del problema **************** -->
  <Content
    isReversed
    id='descripcion'
    title="Descripción del problema"
    items={[
      {
        title: 'Problema',
        description:
          'La gestión de los programas de asignatura dentro del Departamento de Informática presenta varios desafíos, principalmente relacionados con la falta de trazabilidad, control de versiones y la complejidad de los procesos de aprobación. Actualmente, los procesos para solicitar modificaciones en los programas, realizar seguimientos y mantener un control claro de las versiones no están bien definidos, lo que genera ineficiencias y posibles retrasos. Además, la gestión de las mallas curriculares es compleja, ya que existen múltiples mallas con diferentes códigos de asignaturas, y el acceso a los programas específicos de cada asignatura no es sencillo ni eficiente.',
      },
      {
        title: 'Descripcion de la solucion',
        description:
          'Nuestra plataforma digital está especialmente diseñada para gestionar los programas de asignatura del Departamento de Informática. Permite a los coordinadores y miembros del comité académico interactuar de manera eficiente con los programas de asignaturas, facilitando tareas como solicitar modificaciones, realizar seguimientos y controlar las versiones. Esto garantiza que los procesos administrativos sean más rápidos, transparentes y eficientes.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1562240020-ce31ccb0fa7d?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Pile of printing papers',
    }}
    
  >
</Content>

  
   <Features2
   isAfterContent
   id='modelo'
   title='Modelo de negocios'
   items={[
     {
       title: 'Segmento de clientes',
       description: `Comité curricular permanente, coordinadores y más autoridades de la Universidad de Valparaiso.`,
     },
     {
       title: 'Actividades clave',
       description:
         'Desarrollo y mantenimiento de la plataforma, implementación de notificaciones automáticas, gestión de control de versiones, implementación de flujos de aprobación, gestión de base de datos de mallas y asignaturas.',
     },
     {
       title: 'Recursos clave',
       description:
         "Infraestructura tecnológica (servidores, bases de datos, computadores personales), herramientas de desarrollo, equipo de soporte.",
     },
     {
       title: 'Socios clave',
       description:
         'Miembros del CCP y coordinador.',
     },
     {
       title: 'Canales',
       description:
         'Plataforma web o aplicación, presentaciones en reuniones académicas, comunicación por correo electrónico',
     },
     {
       title: 'Relaciones con clientes',
       description:
         'Interacción a través de la plataforma, soporte técnico, formación continua para usuarios, actualizaciones periódicas del sistema.',
     },
     {
       title: 'Costos',
       description:
         'Costos de desarrollo y mantenimiento de la plataforma.',
     },
     
     {
       title: 'Modelo de ingresos',
       description:
         '',
     },
   ]}
   
 >
   <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

   <Fragment slot="bg">
     <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
   </Fragment>
   </Features2>

  <!-- Features Widget *************** -->

  <Features
    id="Roadmap"
    title="ROADMAP"
    items={[
      {
        title: 'FASE 1: Ezquematizacion de la plataforma web (1 semana)',
        subtitle: 'obj: Definir las bases para el desarrollo del software',
        description: `
          - Reunion inicial con stakeholders para alinear objetivos<br/>
          - Levantamiento de requerimientos<br/>
          - Seleccion del stack de desarrollo<br/>
          
            `,
        icon: "tabler:palette",
      },
      {
        title: 'FASE 4: Desarrollo de funcionalidades avanzadas (4 semanas)',
        subtitle: 'obj: completar la plataforma integrando el flujo de revision academica',
        description: `
          - Implementacion del modulo de solicitud de cambios por parte del CCP<br/>
          - Diseño del sistema de revision y validacion por parte del coordinador<br/>
          - Desarrollo de notificaciones automaticas para informar a los usuarios sobre cambios en la solicitud<br/>
          - Pruebas del flujo completo de aprobacion<br/>
            `,
        icon: 'tabler:brand-tailwind'
      },
      {
        title: 'FASE 2 :  Diseño de la plataforma web. (1 semana)',
        subtitle: 'obj: Definir visual y estructuralmente la plataforma',
        description: `
          - Diseñar mockups y wireframes de las principales interfaces del sistema<br/>
          - Definir y validar con stakeholders el flujo de aprobacion completo<br/>
          - Aprobar diseño final antes de iniciar el desarrollo<br/>
          
            `,
        icon: 'tabler:brand-tailwind'
      },
      {
        title: 'FASE 5:  Ajuste y finalizacion de la plataforma (1 semana)',
        subtitle: 'obj: Implementar el sistema final de versiones',
        description: `
          - Integracion del historial completo de versiones<br/>
          - Pruebas de validacion final con usuarios reales<br/>
          - Despliegue en entorno de produccion<br/>
          
            `,
        icon: 'tabler:brand-tailwind'
      },
      {
        title: 'FASE 3: Desarrollo base de la plataforma (3 semana)',
        subtitle: 'obj: implementar los modulos fundamentales de la plataforma para la gestion de programas',
        description: `
          - Implementacion de sistema de autenticacion<br/>
          - Creacion del modelo del programa<br/>
          - Creacion del modulo de filtrado de programas<br/>
          
            `,
        icon: 'tabler:brand-tailwind'
      },
      {
        title: 'FASE 6: Optimizacion y mantenimiento',
        subtitle: 'obj: Garantizar el funcionamiento continuo del sistema',
        description: `
          - Monitoreo del sistema en produccion<br/>
          - Implementacion de mejores en usabilidad<br/>
          - Correccion de errores<br/>
          
            `,
        icon: 'tabler:brand-tailwind'
      },
    ]}
  />


</Layout>
